html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
    color: #333;
    font-size: 15px;
    line-height: 1.5625;
    display: block;
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    height: 70%;
}

footer, header { position: relative; clear: both; }

.left-column, .right-column, footer {  border: 5px solid  #ccc; padding: 1.25em; margin: .5em; }

.logo{
    margin: 0;
    background-color: #728BA8;
    height: 153px;
    
}

@media only screen and (max-width: 110rem)

.header{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #728BA8;
    font-size: 6.25;
    font-family: sans-serif;
}

   

.nav {
margin: 0;
padding-bottom: 15rem; 
background-color: #728BA8;
border-radius: 5px;
margin-left: 0;
margin-bottom: 0;
padding-left: 25rem;
   
}

.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.inline-items {
  margin-top: 0;
}

.inline-items li {
  margin: 0;
  border: 1px solid lightgrey;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-items li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: 10px;
  


}


.inline-items li:last-child {
  padding-right: 0;
}


/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {

	.columns-container { 
		float: left;
	}

  .left-column { 
    margin-right: 20em;
		float: left;
  }

	.right-column { 
    width: 18.75em;
		margin-left: -19.3em;
		float: left;
  }   
}

